*{
	position: relative;
}
html, body{
	color: rgb(138, 245, 170);
	background-color: #00173b;
	font-family: 'Pangolin', cursive;
	overflow-x: hidden;
}
/*margin of 0px to all elements and position relative*/
*{
	margin: 0px;
	position: relative;
	border-radius: 5px;
}


/*positioning of play button on images which appears on hovering over the image*/
.img-hover{
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 5;
	color: rgb(197, 55, 55);
	visibility: hidden;
}
/*controlling hovering nature of images except some*/
img:not(.img-g):hover, #music-type1 span:hover, #music-type2 span:hover,
 .release > div:hover, #queue-main-content > div > span:hover, .latest > span > div:hover{
	opacity: 0.5;
	box-shadow: 0px 0px 5px 5px white;
	padding: 3px;
	transition: 0.3s ease-in-out;
	cursor: pointer;
	border: 3px;
}

img:not(.img-g):hover .img-hover, #music-type1 span:hover .img-hover, .release > div:hover .img-hover,
 #queue-main-content > div > span:hover .img-hover, .latest > span > div:hover .img-hover{
	visibility: visible;
}
.light-color, #progress > p{
	color: #ff0abf;
}
label{
	color: #ffc20a;
	font-size: 1.7rem;
	width:60%;
	max-width:180px;
	box-shadow: 8px 8px 20px -6px red;
	border-bottom:0.5px solid yellow;
	text-align: right;
	padding-right: 3px;
	margin-top: 15px;
}
.date{
	opacity: 0.7;
}

.singer-name{
	font-size: 0.8rem;
}

/*header*/
header{
	width: 100%; 
	height: 100px; 
	color: #ffd400;
	display: grid;
	grid-template-columns: 50% 50%;
	align-items: center;
	padding: 5px;
	margin: auto;
}
.left-container{
	display: grid;
	grid-template-columns: 200px 100px;
	align-items: center;
}
#site-name{
	font-size: 25px;
	margin:0px 20px;
}
#type{
	font-size: 20px;
	margin:0px 20px;
}
.right-container{
	display: grid;
	grid-template-columns: 320px 100px 90px; 
	align-items: center;
	justify-content: right;
	height: inherit;
}
.search-container{
	padding: 2px;
	margin:0px 20px;
}
.search-box i{
	color: yellow;
}
.search-box{
	border: 1px #24283e solid;
	border-radius: 20px;
	height: 30px;
	width:300px;
	align-self: right;
	padding:2px;
	display: grid;
	grid-template-columns: 8% 84% 8%;
	align-items: center;
	background-color: grey;
}
.search-box > input{
	height: 90%;
	margin:0px;
	border:none;
	font: 1.5rem;
	background-color : grey;
}
.user{
	position: absolute;
	right: 20%;
	background-color: white;
	color: black;
	font-size: 1.2rem;
	height: 110px;
	width: 150px;
	display: grid;
	grid-template-columns: 100%;
	visibility: hidden;
}
#user:hover .user{
	visibility: visible;
	z-index: 10000;
	border-radius: 10px;
}
.user p{
	text-align: left;
	margin:0px 4px;
	cursor: pointer;
	border-bottom: 1px solid lightgrey;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.user p:hover{
	background-color: lightgrey;
	margin: 0px;
	box-shadow: 0px 2px 2px 2px grey;
} 
/*For removing the outline of the input on focussing over it*/
input:focus{
	outline: none;
	font-size: 1.2em;
	color: rgb(248, 246, 237);
}
.fa-microphone{
	opacity: 0.5;
}

.searchbox{
	margin:0px 5px;
}
.fa-bell{
	opacity: 0.9;
}
.notification{
	margin:0px 10px;
}
#my-image{
	width: 3rem;
	height: 3rem;
	border-radius: 50%;	
}


/*Main Content*/

#main-content{
	margin: auto;
	width: 85%;
	padding: 10px;
	height: auto;
	position: relative;
	display: grid;
	grid-template-columns: 70% 30%;
	grid-gap: 3px;
}

#content::-webkit-scrollbar, #queue-main-content::-webkit-scrollbar, ::-webkit-scrollbar{
	width:0px;
}
#content::-webkit-scrollbar-track, #queue-main-content::-webkit-scrollbar-track, ::-webkit-scrollbar-track{
	background-color: black;
}
#content{
	height: 70vh;
	padding: 10px;
	display: grid;
	grid-template-columns: 100%;
	justify-content: center;
	grid-gap: 5px;
	margin-top:10px;
	overflow-y: scroll;
	overflow-x:hidden;
}


#image-gallery{
	height:280px;
	width: 100%;
	margin-bottom: 30px;
	display: grid;
	grid-template-columns: 33% 33% 33%;
	justify-content: center;
	grid-gap: 25px;
}
#image-gallery > img{
	height : 100%;
	width: 100%;
	box-shadow: 0px 0px 2px 2px black;
	opacity: 0.8;
}

.content-style{
	height: 180px;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

/*Latest-release*/
#latest-release{
	height : auto;
	width : 100%;
	display: grid;
	grid-template-columns: 40% 40%;
	grid-gap: 5px;
	margin:10px 0px;
}
#latest-release > div{
	height : 80px;
	margin: 0px 5px;
	display: grid;
	grid-template-columns: 20% 65% 10%;
	align-items: center;
}
#latest-release > div > div{
	height : 70px;
	width : 90%;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
#latest-release > div > span{
	height: 90%;
	text-align: center;
}
.prop-song{
	width: 200px;
	position: absolute;
	right: 20%;
	background-color: white;
	color: black;
	font-size: 1.2rem;
	height: 130px;
	margin-bottom: 30px;
	display: grid;
	grid-template-columns: 100%;
	visibility: hidden;
	transition: 0.2s ease-in-out;
}
.release > span > div:hover .prop-song{
	visibility: visible;
	z-index: 10000;
}  
.prop-song p{
	text-align: left;
	margin:0px 4px;
	cursor: pointer;
	border-bottom: 1px solid lightgrey;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.2s ease-in-out;
}
.prop-song p:hover{
	background-color: lightgrey;
	margin: 0px;
	box-shadow: 0px 2px 2px 2px grey;
}
#popular-artists{
	height: auto;
	justify-content: left;
}

#popular-artists > span{
	height: 125px;
	width : 125px;
	margin: 20px 20px 20px 0px;
	color: white;
	text-align: center;
	overflow-wrap: break-word;
	position: relative;
}

#popular-artists > span > a > img{
	height: 100px;
	width : 100px;
	margin: auto;
	margin-top: 5px;
	border-radius: 50%;
}
#music-type1{
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	background-color: #000c4e;
}
#music-type1 > span{
	height: 100px;
	width : 100px;
	border-radius: 50%;
	margin: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#music-type1 > span > p{
	color: black;
	font-weight: bold;
	font-size: 1.4rem;
}
#music-type1 span:hover p{
	visibility: hidden;
}
#music-type2{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	height : auto;
	justify-content: left;
	margin: 20px 0px;
}

#music-type2 > span{
	height: 160px;
	width: 95%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
#music-type2 > span > p{
	text-align: center;
	position: relative;
	top: 45%;
	font-size: 1.5rem;;
}
/*Latest Song secton*/
.latest{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: left;
	height : auto;
	margin-bottom: 10px;
}
/*each song setting*/
.latest > span{
	height : 160px;
	width: 120px;
	margin: 10px;
	display: block;
}
.latest > span > div{
	height: 70%;
	width:100%;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
#queue{
	height: 500px;
	margin-left: 20px;
	display: grid;
	grid-template-columns: 100%;
	justify-content: center;
	color: #00ffd0;
}

#queue-main-content{
	grid-template-columns: 100%;
	grid-gap: 2px;
	justify-content: center;
	align-items: center;
	height: 500px;
	overflow-y: scroll;
	overflow-x:hidden;
}
#queue-main-content > div{
	width: 100%;
	height: 70px;
	margin: auto;
	display: grid;
	grid-template-columns: 10% 25% 55% 10%;
	align-items: center; 
	justify-content: center;
}
 #queue-main-content > div > span{
	transition: 0.3s ease-in-out;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	margin: auto;
}
#queue-heading{
	display: grid;
	height: 100px;
	grid-template-columns: 55% 35%;
	align-items: center;
}
#queue-heading > h2{
	font-size: 2.2rem;
}
#queue-heading > p{
	font-size: 1.6rem;
	color: #e5f403;
	position: relative;
	left: 50%;
}
.index{
	color:yellow;
	text-align: right;
	opacity: 0.8;
}
.fa-heart{
	color:white;
}
.fa-heart:hover{
	color:red;
	transition: 0.3s ease-in-out;
	font-size: 1.3rem;
	padding: 2px;
}
.fa:not(.fa-volume-up):hover{
	padding: 1px;
	cursor: pointer;
}
footer{
	position: fixed; 
	bottom: 0; 
	left: 0;
	right: 0;
	z-index: 2; 
	height: 8%; 
	background: #1a1a1a;
	display: grid;
	grid-template-columns: 10% 50% 10%;
	grid-gap: 7%;
	justify-content: center;
	align-items: center;
}
.about-song{
	display: grid;
	grid-template-columns: 2fr 1fr 1fr 1fr;
	align-items: center;
	justify-content: center;
}
.singer-image{
	width:100%;
	max-width: 60px;
	height: 100%;
}
.favorite{
	min-width:20px;
}

.music-player{		
		width: 100%;
}
#controls{
	display: grid;
	grid-template-columns: 20px 20px 35px 20px 20px;
	grid-gap: 10px;
	justify-content: center;
	align-items: center;
}
.progress{
	width:100%;
	display: grid;
	grid-template-columns: 33px 400px 10px;
	justify-content: center;
	align-items: center;
}
.progress-bar, .progress-bar-volume{
	background-color: grey;
	width: 98%;
	height: 3px;
	position: relative;
}
.percent-bar, .percent-bar-volume{
	width: 25%;
	height:100%;
	background-color: yellow;
}
.slider, .slider-volume{
	height:13px;
	width:13px;
	background-color: yellow;
	position: absolute;
	left:25%;
	top: -5.9px;
	border-radius: 50%;
}
#volume-control{
	display: grid;
	grid-template-columns: 10% 10% 10% 50% 10%;
	grid-gap: 10px;
	justify-content: center;
	align-items: center;
}
@media only screen and (max-width: 1200px){
	body{
		padding-top: 10px;
		box-sizing: border-box;
	}
	#main-content{
		width: 95%;
		grid-template-columns: 65% 35%;
	}
	#image-gallery{
		grid-template-columns: 100%;
		box-shadow: 0px 0px 5px 5px skyblue;
		padding: 0px;
	}
	#image-gallery > img{
		display: none;
	}
	#image-gallery{
		background-image: url(../Images/chill.jpeg);
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	#latest-release{
		grid-template-columns: 1fr;
	}
	#music-type2{
		grid-template-columns: 1fr;
	}
	#music-type2 > span{
		width: 85%;
		margin: 5px;
	}
	.latest{
		grid-template-columns: 1fr 1fr;
	}
	.progress{
		grid-template-columns: 7% 60% 10%;
	}
	footer{
		grid-template-columns: 20% 55% 10%;
		grid-gap:10px;
	}
}
@media only screen and (max-width: 850px){
	header{
		grid-template-columns: 100vw;
	}
	.left-container{
		display: none;
	}
	
	#type{
		text-align: right; 
	}
	.right-container{
		grid-template-columns: 60% 13% 15%; 
	}
	.search-box{
		width:100%;
		font-size: 13px;
	}
	#latest-release > div{
		grid-template-columns: 20% 55% 20%;
	}	
	#queue-main-content > div > span{
		height: 40px;
		width: 40px;	
	}
	#queue-main-content > div > #singer-name{
		font-size: 1.2rem;	
	}
	#queue-main-content > div{
		grid-template-columns: 30% 55% 15%;
	}
	#queue-heading{
		grid-template-columns: 35% 65%;
	}
	.index{
		display: none;
	}
	#queue-heading > h2{
		font-size: 1.6rem;
	}
	#queue-heading > p{
		left: 40%;
		font-size: 1.1rem;
	}
	#popular-artists{
		justify-content: center;
	}
	.progress{
		grid-template-columns: 13% 60% 10%;
		margin: 0px;
	}
	footer{
		grid-template-columns: 15% 50% 15%;
		grid-gap:0px;
		height: 10%;
	}
	#controls{
		grid-template-columns: 15px 15px 30px 15px 15px;
		grid-gap: 8px;
	}
	.about-song > img{
		
		width: 40px;
		height: 40px
	}

	.about-song{
		justify-content: right;
	}
}